<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

 <script>
    console.log(math.log(1000,10));
  </script>
<ion-view view-title="Bisection Method">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Function</div>
          <input type="text" ng-model="fun" placeholder="F(x)">
          <input type="text" ng-model="lower" placeholder="Xi">
          <input type="text" ng-model="upper" placeholder="Xs">
          <input type="text" ng-model="tol" placeholder="Tolerance">
          <input type="text" ng-model="niter" placeholder="Iterations">
          <button class="button button-outline button-balanced" ng-click="bisection(fun,lower,upper,0.0005,niter)">Evaluate</button>
      <div class="item item-body">
        <p ng-bind-html="tab-bisect"></p>
        <h1>{{solution}}</h1>
      </div>
    </div> 
  </ion-content>
</ion-view>
